.container-md {
  background-image: url('../../Assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text {
  color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

<<<<<<< HEAD
#player_image {
  background-image: url('../../Assets/card_background_forest_2x.png');
}

#monster_image {
  background-image: url('../../Assets/card_background_forest_2x.png');
}
=======
button {
  margin-left: 5px;
  margin-right: 5px;
}
>>>>>>> 72bf78fa22550ce38aef8f5fbcb5eae3b528ebf3
