form {
  background-image: url('../../Assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-control {
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group {
  margin-top: 0.5rem;
}
