a.btn.btn-primary {
  background-color: rgb(16, 5, 75);
  outline-color: antiquewhite;
  border-color: antiquewhite;
}

a.btn.btn-primary:hover {
  background-color: blue;
}

a.btn.btn-primary:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.jumbotron {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
  background-image: url('../../Assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  padding-left: 20px;
  padding-right: 20px;
}

label.form-label {
  padding: 8px;
  background-color: rgb(16, 5, 75);
  border-radius: 3px;
  color: antiquewhite;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  padding-bottom: 100px;
}

button.btn.btn-primary {
  background-color: rgb(16, 5, 75);
  outline-color: antiquewhite;
  border-color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button.btn.btn-primary:hover {
  background-color: blue;
}
