

.card-footer {
  background-image: linear-gradient(
      rgba(29, 23, 116, 0.9),
      rgba(63, 25, 25, 0.9)
    ),
    url('../../Assets/brick.png');
}

.card-body {
  background-image: linear-gradient(
      rgba(63, 25, 25, 0.9),
      rgba(29, 23, 116, 0.9)
    ),
    url('../../Assets/brick.png');
}

.card-title.h5 {
  color: antiquewhite;
}

.list-group-item {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

#buy {
  background-color: black;
  border-color: antiquewhite;
  color: antiquewhite;
}

#buy:hover {
  background-color: blue;
}

#buy:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.victory {
  text-align: center;
  font-size: 150px;
  font-weight: bolder;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(209, 12, 12, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.animated {
  animation: 1s fadeIn infinite;
}


@keyframes fadeIn {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  90%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.bounce {
  animation: 1s bounce infinite;
  animation-timing-function: ease;
}

.bounce:hover {
  animation: 1s bounce infinite;
  animation-timing-function: ease;
}